.navigation{
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(250, 235, 215);*/
    background-color: #222831;
    position: relative;
}

.search-btn-medium-small{
    font-size: 1.6em;
    border-radius: 20px;
    background: transparent;
    border: none;
    color: #EEEEEE;
    cursor: pointer;
    display: none;
}

.logo{
    height: 43px;
    margin-left: 40px;
}

.search-field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

.search-field > input{
    background-color: #404650;
    border: none;
    height: 40px;
    color: inherit;
    padding: 0;
    width: 300px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-left: 10px;
    text-align: center;
    font-size: 1em;
    margin-right: -1px;
}
.search-field > input:focus {
    outline: none;
}
.search-field > input::placeholder{
    color: inherit;
}
.search-field > button{
    background-color: #404650;
    border: none;
    font-size: 1.3em;
    color: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    padding-right: 10px;
    cursor: pointer;
}

.drop-down{
    margin-right: 40px;
    position: relative;
}

.drop-down > button {
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    font-size: 28px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}



.drop-down-window{
    position: absolute;
    padding: 10px 20px;
    min-width: 200px;
    background-color: rgba(34, 40, 49,0.98);
    top: 62px;
    right: 0px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: rgba(200, 200, 200, 0.24) 0px 3px 8px;
    color: #EEEEEE;

}

.active{
    display: block;
}

.inactive{
    display: none;
}


.drop-down-window > h3{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: -5px;
}

.drop-down-window > .label {
    font-size: 0.7em;
}

.custom-history{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-history > input[type='button']{
    background-color: #404650;
    border: none;
    color: inherit;
    font-size: 25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.custom-history > input[type='button']:hover{
    background-color: rgba(200, 200, 200,0.1);
}

.custom-history > input[type='button']:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 10px;
}

.custom-history > input[type='button']:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-history > input[type='text']{
    text-align: center;
    font-size: 16px;
    width: 50px;
    height: 28px;
    margin: 0 -1px;
    color: #EEEEEE;
    background-color: #404650;
    border: none;
}
.custom-history > input[type='text']:focus{
    outline: none;
}

.custom-history > input[type='button']:disabled,.custom-history > input[type='text']:disabled{
    background-color: rgb(80, 79, 79);
    color: darkgrey;
}



.Sidebar{
    background-color:#404650;
    min-height: calc(100vh - 78px);
    height: fit-content;
    grid-column: 2 / 3;

}
.sidebar-unselected{
    color: white;
    width: 100%;
    height: calc(100vh - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aircraft-info{
    width: 280px;
    margin: 0 auto;
    padding-top: 10px;
}

.aircraft-info > .aircraft-image > img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aircraft-info > .aircraft-image > a{
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    margin-top: -4px;
    padding: 3px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    font-size: .9em;
}
.aircraft-info > .aircraft-image > a > span{
    padding-left: 5px;
}

.callsign{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 2.0em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.property{
    font-size: 1.2em;
    margin-bottom: 2px;
    color: #EEEEEE;
}
.label{
    font-size: .6em;
    color: #76ABAE;
    font-weight: 500;
}

/* TABLET SCREENS */

@media screen and (max-width: 850px) {
    /* NAVBAR */
    .navigation{
        align-items: center;
        justify-content: space-between;
    }
    .search-field{
        top: 78px;
        z-index: 100;
        transform: translate(-50%,0);
        opacity: 0;
        pointer-events: none;
        
    }
    .logo{
        position: static;
        order: 2;
        margin: 0;
    }
    .drop-down{
        order: 3;
        margin-right: 15px;
    }
    .search-btn-medium-small{
        display: block;
        margin-left: 15px;
        order: 1;
    }

    .search-active{
        opacity: 1;
        pointer-events: auto;
    }

    

    /* SIDEBAR */
    .Sidebar{
        grid-row: 2/3;
        grid-column: 1/2;
        min-height: auto;
    }

    .aircraft-info{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 1fr;
    }

    .aircraft-info{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aircraft-image{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right:10px;
        vertical-align: center;
    }
    .callsign{
        margin-bottom: 30px;
    }
    .flex-properties{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 10px;
        justify-content: space-evenly;
    }

}

/* MOBILE SCREENS  */

@media screen and (max-width: 580px){

    /* NAVBAR */

    .search-field > input{
        width: 60vw;
    }
    
    /* SIDEBAR */
    .aircraft-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aircraft-image{
        width: 300px;
        margin: 0;
    }
    
    .flex-properties{
        margin: 0;
        justify-content: space-around;
    }

}



